body{background-color: lightpink;}

#container{position: relative; margin: auto;}

#WelcomeToStarSoftERP{text-align: center; font-size: 80px; text-shadow:blue 4px 4px 4px; 
border-top-style: groove; border-block-end-style: groove;}  